{% extends "base/base.html" %}

{% load static %}

{% block contenido %}
	<div class="container">
				{% if post.imagen %}
      				<img src="{{post.imagen.url}}" class="img-fluid rounded-start">
      			{% else %}
      				<img src="{% static 'images/default/si.png' %}" class="img-fluid rounded-start">
      			{% endif %}
		<div class="row">
			<h1>{{post.titulo}}</h1>
			<h3>{{post.fecha_creacion}}</h3>
		</div>
		<div class="row">
			<h2>{{post.cuerpo}}</h2>
		</div>
		<div class="row">
			<h2>{{post.categoria.nombre}}</h2>
		</div>
	</div>
{% endblock contenido %}

